*{
    box-sizing: border-box;
}

body{
    margin:0px;
    padding:0px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #222831;
}

h1{
    font-family: 'Potta One', cursive;
    font-size: 3rem;
    font-style: italic;
    color:#32e0c4;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#32e0c4;

}

main{
    background-color: #393e46;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container{
    height: 21rem;
    width: 21rem;
    margin-top: 7rem;
}

button{
    border: none;
    height: 6.8rem;
    width:  6.8rem;
    background-color:  #393e46;
    padding:0px;
    font-family: 'Hachi Maru Pop', cursive;
    color: #f05454;
    font-size: 2rem;
}

#grid1{
    border-right: solid white 1px;
    border-bottom: solid white 1px;
}
#grid2{
    border: solid white 1px;
    border-top: none;
}
#grid3{
    border-left: solid white 1px;
    border-bottom: solid white 1px;
}
#grid4{
    border: solid white 1px;
    border-left: none;
}
#grid5{
    border: solid white 1px;
}
#grid6{
    border: solid white 1px;
    border-right: none;
}
#grid7{
    border-right: solid white 1px;
    border-top: solid white 1px;
}
#grid8{
    border: solid white 1px;
    border-bottom: none;
}
#grid9{
    border-left: solid white 1px;
    border-top: solid white 1px;
}
button:hover{
    cursor: pointer;
}

#result{
    margin-top: 5rem;
    font-size: 3rem;
    color: #32e0c4;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#reset{
    cursor: pointer;
    width: 10rem;
    margin-top: 5rem;
    font-size: 2rem;
    color: #32e0c4;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: solid white 0.1rem;
    padding: 1rem;
    transition:transform 500ms ease-in-out;
}

button:focus{
    outline: none;
}

.highlight{
    opacity: 0.7;
    box-shadow: 0.2rem 0.2rem 1rem #222831;
}

#reset:hover{
    transform: scale(1.2);
}